/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  color: #212121;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #757575;
  --tittle-text-color: #212121;
}

body {
  background-color: #e5e5e5;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* ====Контейнер==== */
.container {
  outline: 5px solid black;
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-web {
  color: #2196f3;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Site nav */

.site-nav .link {
  color: var(--tittle-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link.current {
  color: #2196f3;
}

/* hero */

.hero {
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
}

/* Кнопка заказать услугу */
.hero-studio {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
}

/* Section  */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-heading {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.card-set {
  display: flex;
}

.section-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.section .text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.section-title-group {
  color: #212121;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
}

.card-group {
  display: flex;
}

.section-command .text-group {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
}

/* Портфолио */

.btn {
  display: flex;
}

/* Кнопки фильтров */
.btn-filter {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.btn-filter:hover,
.btn-filter:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.card-work {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}

.card-work > .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.hero-btn {
  border: none;
}

.section-work {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-top: 20px;
  margin-bottom: 4px;
}

.work-text {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  margin-bottom: 20px;
}

/* Footer */
.footer {
  background-color: #2f303a;
}
